.App {
  text-align: center;
  width: 310px;
  margin: 10px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.schulteTitle {
  text-align: center;
  margin: 10px;
}

.guideText{
  font-size: 12px;
}

.schulteTime, .schulteStage, .schulteBtn {
  float: left;
  width: 70px;
  height: 70px;
  background-color: #fff;
  margin: 15px;
  text-align: center;
  line-height: 33px;
  border-radius: 5px;
  border: 1px solid #ededed;
}

.schulteBtn {
  line-height: 68px;
  cursor: pointer;
}

.schulteCell {
  width: 55px;
  height: 55px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ededed;
  float: left;
  background: #fff;
  text-align: center;
  line-height: 53px;
  transition: background 0.3s ease-out;
  cursor: pointer;
}
.footer{
  font-size: 12px;
}
.correct {
  background: #5DADE2;
  color: #fff;
}

.wrong {
  background: #EC7063;
  color: #fff;
}

.conBtn {
  color: #EC7063;
}

.red{
  color: red;
}